<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jsp2Pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/jsp_180130_tu/view/*</url-pattern>
  		<include-prelude>/jsp_180130_tu/common/variable.jsp</include-prelude>
  		<include-coda>/jsp_180130_tu/common/footer.jsp</include-coda>
  	</jsp-property-group>
  </jsp-config>
  
<!--   <servlet>
  	<servlet-name>OracleDriverLoader</servlet-name>
  	<servlet-class>jdbc.OracleDriverLoader</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet> -->
  
  
<servlet>
	<servlet-name>DBCPInit</servlet-name>
	<servlet-class>jdbc.DBCPInit</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet> 
  
  
 </web-app>









